<library path="src">
  <class name="EditorPlugin" type="rqt_world_editor.editor_plugin.EditorPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      An Python GUI plugin to add and edit semantic information (aka annotations) to pre-existing geometric maps
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>  -->
      <label>World Editor</label>
      <icon type="theme">applications-other</icon>
      <statustip>Add and edit semantic information (aka annotations) to pre-existing geometric maps.</statustip>
    </qtgui>
  </class>
</library>
