<!-- 
  Edit a world on WCF (World Canvas Framework)
  - world canvas editor (RViz)
  - world canvas server
 -->
<launch>
  <!-- World canvas editor -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find world_canvas_editor)/rviz/world_canvas_editor.rviz"/>
  
  <!-- World canvas server -->
  <include file="$(find world_canvas_server)/launch/world_canvas_server.launch">
  	<arg name="debug" value="true"/>
  </include>

  <!-- Provide a map frame where to reference map and annotations -->
  <node pkg="tf" type="static_transform_publisher" name="map_frame_pub"
        args="0.0 0.0 0.0 0.0 0.0 0.0 /map /odom 200"/>
</launch>
